/* You can add global styles to this file, and also import other style files */

.btn-purple {
  background: #7045af;
  border-color: #7045af;
  color: #ffffff;
}

.btn-purple:hover {
  background: #382257;
  border-color: #382257;
  color: #ffffff;
}

.btn-outline-purple {
  border-color: #7045af;
  color: #7045af;
}

.btn-outline-purple:hover {
  background: #382257;
  border-color: #382257;
  color: #ffffff;
}

.link-purple {
  color: #7045af;
  text-decoration-color: #7045af;
}

.link-purple:hover {
  color: #382257;
  text-decoration-color: #382257;
}