<main>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/brand/logo.png" alt="Aspire Boot Logo" width="300"/>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-purple btn-lg px-4 gap-3" (click)="test()">Ping</button>
        <button type="button" class="btn btn-outline-purple btn-lg px-4" (click)="signout()">SignOut</button>
      </div>
      <div class="alert alert-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</div>
      <p class="mt-3 text-body-secondary">&copy; 2025 Developed by <a href="https://crisbraatz.github.io" target="_blank" class="icon-link-purple">crisbraatz</a></p>
    </div>
  </div>
</main>
