<main>
  <div class="p-5 my-5 text-center">
    <img class="d-block mx-auto mb-5" src="assets/brand/logo.png" alt="Aspire Boot Logo" width="300" />
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-5">Aspire Boot is a fully functional .NET Aspire template designed to help you jump straight
        into business logic.</p>
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-purple btn-lg px-5 gap-3" routerLink="/sign-in">Sign in</button>
        <button type="button" class="btn btn-outline-purple btn-lg px-5 gap-3" routerLink="/sign-up">Sign up</button>
      </div>
      <p class="pt-5 mt-5 text-body-secondary">&copy; 2025 Developed by <a href="https://crisbraatz.github.io"
          target="_blank" class="link-purple">crisbraatz</a></p>
    </div>
  </div>
</main>